HHT/Framework.Service.Provider/Web References/WebService.Provider/WSFacadeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://webservice.coms.gss.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSFacadeService" targetNamespace="http://webservice.coms.gss.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.coms.gss.com/">
      <xsd:complexType name="PartnerInfo">
        <xsd:sequence>
          <xsd:element name="code" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="createdDate" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestInfo">
        <xsd:sequence>
          <xsd:element name="methodName" nillable="true" type="xsd:string" />
          <xsd:element name="serviceID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="parm" nillable="true" type="xsd:anyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResponseInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="resultObj" nillable="true" type="xsd:anyType" />
          <xsd:element name="tempItem" type="xsd:anyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="executeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="responseInfo" nillable="true" type="tns:ResponseInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" nillable="true" type="tns:RequestInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="execute">
    <wsdl:part name="parameters" element="tns:execute" />
  </wsdl:message>
  <wsdl:message name="executeResponse">
    <wsdl:part name="parameters" element="tns:executeResponse" />
  </wsdl:message>
  <wsdl:portType name="WSFacade">
    <wsdl:operation name="execute">
      <wsdl:input name="execute" message="tns:execute" />
      <wsdl:output name="executeResponse" message="tns:executeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSFacadeServiceSoapBinding" type="tns:WSFacade">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="execute">
      <soap:operation soapAction="http://webservice.coms.gss.com/execute" />
      <wsdl:input name="execute">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="executeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSFacadeService">
    <wsdl:port name="WSFacadePort" binding="tns:WSFacadeServiceSoapBinding">
      <soap:address location="http://localhost:8080/BargeOperation/ws/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>